<h1>Showing a Todo</h1>

<p>
  name : <%= @toto.name %>
</p>
<p>
  description : <%= @toto.description %>
</p>
<p>
<%= link_to "Edit toto", edit_toto_path(@toto)%> |
<%= link_to "Back to Totos Listing", totos_path %>
</p>
